.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
}

.bpm-input {
  height: 100px;
  width: 300px;
  font-size: 90px;
  text-align: center;
}

.main-container {
  height: 100vh;
}

.controls {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 10px;
}
